/.vs
/Info.Hnbc.InvigilatorExcel.ExcelHandler/obj
/Info.Hnbc.InvigilatorExcel.ExcelHandler/bin
/Info.Hnbc.InvigilatorExcel.WpfClient/obj
/Info.Hnbc.InvigilatorExcel.WpfClient/bin
/Info.Hnbc.Utils.Document
